.cover {
    position: relative;
    margin: 3px;
}

.view-recipe img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px
}

.back-button {
    position: absolute;
    /* margin: 10px; */
}