.add-recipes-wrapper {
    background-color: #f0d17d;
}

.add-recipes-wrapper h2 {
    margin-bottom: 20px;
}

.add-recipes-wrapper label {
    display: block;
    padding-bottom: 5px;
}

.add-recipes-wrapper input {
    border: none;
    font-size: 16px;
    width: 75%;
    padding: 10px;
}

